<div class="container mt-3">
    <div class="card bg-primary text-white">
        <div class="card-header display-3 text-center">About</div>
        <div class="card-body fs-3">
            App made by Martín Rizzo, an engineering student at UIB (Universitat de les Illes Balears). 
        </div>
    </div>
</div>