<div class="container mt-3">
  <div class="card bg-primary text-light">
    <div class="card-header text-center">
      <h1 class="display-2 ">Welcome to Contacts app!</h1>
    </div>
    <div class="card-body">
        <div class="card-title">
            <h2>Tired of messing up 30 minutes or more to find a contact? Start using Contacts app!</h3>
        </div>
        <div class="card-text">
            <p class="fs-4">
                With contacts app, you will be able to store all your contacts and have them sound and safe! Do you want
                to search any contact? No problem! You will find it in SECONDS with Contacts app! Do you want to try it?
            </p>
            <div class="text-center">
                <a href="/users/signup" class="btn btn-success btn-lg">Start now!</a>
            </div>
        </div>
    </div>
  </div>
</div>